.venv
.venv*/
.venv_temp
.DS_Store
__pycache__/
*.egg-info/
build/
dev/
.pytest_cache/
site/
.cache/
output
development_testing/
**/_artifacts/
.ruff_cache/
**/_rendered/
**/.mplconfig
CLAUDE.md
.claude
